 <p-header>
  <form [formGroup]="UserForm">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
          <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                  <app-label Required="False" LabelText="New Password"></app-label>
                  <input pInputText formControlName="new_password" [(ngModel)]="new_password" />
                   <app-validation-message propertyName="new_password" [MessageArray]="UserValidationMessages" [FormGroupName]="UserForm"></app-validation-message>
              </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <app-label Required="False" LabelText="Conform Password"></app-label>
              <input pInputText formControlName="conform_password" [(ngModel)]="conform_password" />
               <app-validation-message propertyName="conform_password" [MessageArray]="UserValidationMessages" [FormGroupName]="UserForm"></app-validation-message>       </div>
          </div>
      </div>
  </form>
</p-header>
<hr />
<p-footer>
  <div class="ui-grid-row">
      <div class="ui-grid-col-12">
       <button pButton type="button" [disabled]="UserForm.invalid" style="margin-right: 10px" label="Change Password" (click)="CreateOrUpdate()" class="ui-button-success pull-right" icon="pi pi-check"></button>
      </div>
  </div>
</p-footer>
