<p-header>
    <form [formGroup]="UserForm">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <app-label Required="true" LabelText="User Name"></app-label>
                    <input pInputText formControlName="UserName" [(ngModel)]="UserData.UserName" />
                    <app-validation-message propertyName="UserName" [MessageArray]="UserValidationMessages" [FormGroupName]="UserForm"></app-validation-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <app-label Required="true" LabelText="Email"></app-label>
                    <input pInputText formControlName="Email" [(ngModel)]="UserData.Email" />
                    <app-validation-message propertyName="Email" [MessageArray]="UserValidationMessages" [FormGroupName]="UserForm"></app-validation-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <app-label LabelText="Password" Required="true"></app-label>
                    <input pInputText formControlName="Password" [(ngModel)]="UserData.Password" />
                    <app-validation-message propertyName="Password" [MessageArray]="UserValidationMessages" [FormGroupName]="UserForm"></app-validation-message>
                </div>
            </div>
        </div>
    </form>

</p-header>
<hr />
<p-footer>
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <button pButton type="button" *ngIf="UserData.Id == 0" [disabled]="UserForm.invalid" style="width: 100px;margin-right: 10px;float: right;" label="Save" (click)="CreateOrUpdate()" class="ui-button-success pull-right" icon="pi pi-check"></button>
            <button pButton type="button" *ngIf="UserData.Id > 0" [disabled]="UserForm.invalid" style="width: 100px;margin-right: 10px;float: right;" label="Update" (click)="CreateOrUpdate()" class="ui-button-success pull-right" icon="pi pi-check"></button>
        </div>
    </div>
</p-footer>
