<p-panel header="User Role List">
    <button pButton type="button" style="width: 100px;" label="New" class="ui-button-icon-primary" (click)="OpenPopup(0)"></button>
    <hr>
    <p-table #dt [columns]="Columns" [value]="UserRoleList" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th style="width: 5%;">Edit</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns ">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData | GetArrayValue : col}}
                </td>
                <td>
            <button pButton type="button" icon="pi pi-pencil" class="ui-button-info" (click)="OpenPopup(rowData.id)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
